.reservation-list-container {
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
  }
}

// In global styles.scss or component styles
::ng-deep .swal-style-dialog {
  .mat-mdc-dialog-container,
  .mdc-dialog__surface {
    border-radius: 8px !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
  }
}

.action-icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
}
