@media print {
  .no-print {
    display: none !important;
  }
}

.inline-edit-field {
  width: 100%;

  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mat-mdc-text-field-wrapper {
      padding: 0;
    }

    .mat-mdc-form-field-infix {
      padding: 4px 0;
      min-height: auto;
    }

    input {
      font-size: 13px;
    }
  }
}


// Remove extra spacing from inline form field
.room-select.w-full {
  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mat-mdc-text-field-wrapper {
      padding: 0;
    }
  }
}
