.status-available {
  background-color: #d1fae5 !important;
  color: #065f46 !important;
}

.status-occupied {
  background-color: #fef3c7 !important;
  color: #92400e !important;
}

.status-maintenance {
  background-color: #fee2e2 !important;
  color: #991b1b !important;
}

.inline-edit-field {
  width: 100%;

  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }

    .mat-mdc-text-field-wrapper {
      padding: 0 !important;
      margin: 0 !important;
    }

    .mat-mdc-form-field-infix {
      padding: 0 !important;
      min-height: auto !important;
    }

    input.mat-mdc-input-element {
      font-size: 13px !important;
      padding: 2px 4px !important;
      height: 20px !important;
    }
  }
}
