


.action-icon {
  font-size: 16px !important;
  width: 20px !important;
  height: 20px !important;
}

.max-w-xs {
  max-width: 180px;
}

.break-words {
  word-break: break-word;
}

.success-snackbar {
  background-color: #10b981 !important;
  color: white !important;
}

.error-snackbar {
  background-color: #ef4444 !important;
  color: white !important;
}

